# Python bytecode
__pycache__/
*.py[cod]
*.class

# Venv / conda env in project folder (если вдруг сделаешь)
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.code-workspace

# Временные файлы / логи
*.log
*.tmp

# Вывод FastIR из GUI (сюда будет писать fastir_usb)
bin/fastir_usb/
fastir_usb/
